.container1{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container2{
    width: 25em;
    height: 25em;
    background-image: url("./images/outline.png");
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container3{
    width: 25em;
    height: 25em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    width: 8.25em;
    height: 8.25em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    cursor: pointer;
}
.box > img{
    width: 5.25em;
    height: 5.25em;
}